<nav>
    <ul class="menu-admin">
        <li class="products">
            <button class="products-button"><a href="/admin/new">Crear Producto</a></button>
        </li>
    </ul>
</nav>
<form action="/admin/logout" method="POST" class="logout">
    <input type="submit" value="Salir">
</form>
<section class="products-content">
    <div class="grid-content">
        {{#each items}}
            <div class="grid-item">
                <h3>{{ name }}</h3> <br>
                    {{ description }} <br>
                    {{ sex }} <br>
                    {{ age }} <br>
                    {{ type }} <br>
                <img src="{{ path }}" alt="{{ name }}" class="image">
                <a href="/admin/update/{{ id }}">Editar Producto</a>
                <a href="/admin/delete/{{ id }}">Eliminar Producto</a>
            </div>
        {{/each}}
    </div>
</section>

