<section class="products-content">
    <div class="products-list">
        {{#each items}}
        <div class="product">
            <h3>{{ name }}</h3> <br>
            {{ description }} <br>
            {{ sex }} <br>
            {{ age }} <br>
            {{ type }} <br>
            <img src="{{ path }}" alt="{{ name }}" class="image">
            <a href="/admin/update/{{ id }}">Editar Producto</a>
            <a href="/admin/delete/{{ id }}">Eliminar Producto</a>
        </div>
        {{/each}}
    </div>
</section>