<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
    <title>
        <%= title %>
    </title>

    <meta charset="utf-8">
    <!--Meta Viewport para Responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="/styles/products.css">
    <link rel="stylesheet" href="/styles/admin.css">
</head>

<body>
    <nav>
        <ul class="menu-admin">
            <li class="products">
                <button class="products-button"><a href="/admin/new">Crear Producto</a></button>
            </li>
        </ul>
    </nav>
    <form action="/admin/logout" method="POST" class="logout">
       <input type="submit" value="Logout">
    </form>
    <section class="products-content">
        <div class="grid-content">
            <% items.forEach(function(item) { %>
                <div class="grid-item">
                    <h3><%= item.name%></h3> <br>
                        <%= item.description%> <br>
                        <%= item.sex%> <br>
                        <%= item.age%> <br>
                        <%= item.type%> <br>
                    <img src="<%= item.path%>" alt="<%= item.name%>" class="image">
                    <a href="/admin/update/<%= item.id%>">Editar Producto</a>
                    <a href="/admin/delete/<%= item.id%>">Eliminar Producto</a>
                </div>
            <% }) %>
        </div>
    </section>
</body>
