<% include partials/head.ejs %>
<% include partials/header.ejs %>
<!--<% include partials/filter.ejs %>-->
<h1 class="section-title">Productos</h1>

<section class="products-content">
    <div class="grid-content">
        <% items.forEach(function(item) { %>
         <div class="grid-item">
             <h3><%= item.name%></h3> <br>
             <%= item.description%> <br>
             <%= item.sex%> <br>
             <%= item.age%> <br>
             <%= item.type%> <br>
            <img src="<%= item.path%>" alt="<%= item.name%>">
         </div>
        <% }) %>
    </div>
</section>

<% include partials/footer.ejs%>