{{> header }}
    <div class="wish-container">
        {{#if items}}
        <h1>Hola {{user}}, éstos son los productos de tu lista de deseos...</h1>
        {{else}}
        <h1>Hola {{user}}, aún no has añadido productos a tu lista de deseos</h1>
        {{/if}}
        <ul id="wishlist">
        {{#each items}}
            <li class="wish">
                {{!-- <figure>
                    <img src="{{path}}" alt="Imagen de {{name}}">
                </figure> --}}
                <a class="wish-name" href="/products/view/{{id}}">{{name}}</a>
                <p class="wish-desc">{{description}}</p>
                <p class="wish-price">{{price}}</p>
                <form action="/wishlist/quit/{{id}}" method="POST"><button type="submit">X</button></form>
            </li>
        {{/each}}
        </ul>
    </div>
{{> footer}}